.App {
  text-align: center;
  background-color: #02602B;
  color: white;
  font-family: 'Prosto One', cursive;
}


.oInterface {
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
}

.hand {
  display: flex;
  flex-direction: row;
}

.Blackjack {
  color: white;
  font-size: 8vw;
  font-weight: bold;
}
.dealerStands {
color: #FFC108;
}

.handLab {
  color: white;
  text-shadow: 3px 0 0 #000, 0 -3px 0 #000, 0 3px 0 #000, -3px 0 0 #000;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.card {
    display: inline-block;
    border: 1px solid black;
    height: 150px;
    width: 100px;
    margin: 10px;
    position: relative;
    background-color: ivory
}

.rank {
  padding: 5px;
  font-size: 20px;
}

.top-rank {
  padding: 5px;
  font-size: 20px;
  position: absolute;
  left: 0;
  top: 0;
}
.bottom-rank {
  padding: 5px;
  font-size: 20px;
  position: absolute;
  bottom: 0;
  right: 0;
}

.suit {
  display: none;
}

.H, .D {
  color: red;
  border-color: red;
}

.C, .S {
  color: black;
  border-color: black;
}

:after {
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%,-50%);
  font-size: 40px;
}

.H:after {
  content: '\2665';
}

.D:after {
  content: '\2666';
}

.S:after {
  content: '\2660';
}

.C:after {
  content: '\2663';
} 

.face-down {
  /* pattern from http://lea.verou.me/css3patterns/ */

  background-color:#def;
  background-image: radial-gradient(closest-side, transparent 98%, #E93939 99%),
  radial-gradient(closest-side, transparent 98%, #E93939 99%);
  background-size:80px 80px;
  background-position:0 0, 40px 40px;
}
